{% extends 'base.html' %}
{% block title %}
{{ article.title }}
{% endblock %}
<div class="container mt-5">
    <div class="row">
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit" class="btn btn-info">
            </p>
        </form>
    </div>
</div>
{% block content %}
{% endblock %}